h1 a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
}

h1 a:hover {
    color: blueviolet;
}

.profile-img img {
    width: 5rem;
}

.card-title a {
    text-decoration: none;
    font-size: 1.3rem;
}

.card-title a:hover {
    color: brown;
    font-weight: 700;
}

.card-body p {
    font-size: .9rem;
}

.custom-frame {
    width: 100%;
    height: 180px;
    background-color: blanchedalmond;
}

.custom-frame img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    object-position: 40% 10%;
    cursor: pointer;
}

.just-frame {
    width: 100%;
    height: 100%;
    background-color: blanchedalmond;
}

.just-frame img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    object-position: 50% 10%;
    cursor: pointer;

}

.custom-line-clamp-1 {

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.custom-line-clamp-2 {

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.custom-img img {
    border: 1px solid gray;
    background-color: floralwhite;
}

.custom-tag a {
    text-decoration: none;
}

.custom-tag a:hover {
    color: brown;
    font-weight: 700;
}

.custom-tag a::before {
    content: "#";
}

.custom-tag-cloud>ul>li{
    list-style-type: none;
}

.custom-tag-cloud>ul>li>a{
    text-decoration: none;
    font-size: .8rem;
}

.custom-tag-cloud>ul>li>a:hover{
    text-decoration: underline;
}

.custom-tag-cloud>ul>li::before {
    content: "#";
}


.custom-footer a {
    text-decoration: none;
    color: aliceblue;
}

.custom-footer a:hover {
    color: yellow;
    font-weight: 700;
}

.custom-admin a {
    text-decoration: none;
}

.custom-admin a:hover {
    color: brown;
    font-weight: 700;
}

.custom-input {
    border-color: grey;
}

.tt-calendar {
    margin-top: 0.5em;
}

.tt-calendar .cal_month {
    text-align: center;
}

.tt-calendar thead {
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    line-height: 2em;
    background-color: aliceblue;
}

.tt_category {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}

.tt_category a {
    text-decoration: none;
    color:black;
    line-height: 1.8;
}
.tt_category a:hover {
    color:brown;
    background-color: cornsilk;
    font-weight: 700;
}

.tt_category>li {
}

ul .category_list {
    margin: 0;
    padding: 0;
}

.category_list>li {
    list-style-type: none;
    border-bottom: 1px solid #DFDFDF;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.sub_category_list>li{
    list-style-type: none;
}

ul .sub_category_list{
    margin: 0;
    padding: 0;
}

.link_tit{
    display: block;
    border-bottom: 1px solid #DFDFDF;
    font-weight: 700;
    padding-left: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.link_item {
    display: block;
    padding-left: 1rem;
    padding-top: 3px;
    padding-bottom: 3px;
}
.link_item::before {
    content: "▷";
}

.link_sub_item {
    display: block;
    padding-left: 2rem;
}

.link_sub_item::before {
    content: "-";
}

footer {
    font-size: .9rem;
}

cr-info {
    display: block;
}