h1 a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
}

h1 a:hover {
    color: blueviolet;
}

.profile-img img {
    width: 5rem;
}

.card-title a {
    text-decoration: none;
    font-size: 1.3rem;
}

.card-title a:hover {
    color: brown;
    font-weight: 700;
}

.card-body p {
    font-size: .9rem;
}

.custom-frame {
    width: 100%;
    height: 180px;
    background-color: blanchedalmond;
}

.custom-frame img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    object-position: 40% 10%;
    cursor: pointer;
}

.custom-line-clamp-1 {

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.custom-line-clamp-2 {

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.custom-img img {
    border: 1px solid gray;
    background-color: floralwhite;
}

.custom-tag a {
    text-decoration: none;
}

.custom-tag a:hover {
    color: brown;
    font-weight: 700;
}

.custom-tag a::before {
    content: "#";
}

.custom-footer a {
    text-decoration: none;
    color: aliceblue;
}

.custom-footer a:hover {
    color: yellow;
    font-weight: 700;
}

.custom-admin a {
    text-decoration: none;
}

.custom-admin a:hover {
    color: brown;
    font-weight: 700;
}

.custom-input {
    border-color: grey;
}

.tt-calendar {
    margin-top: 0.5em;
}

.tt-calendar .cal_month {
    text-align: center;
}

.tt-calendar thead {
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    line-height: 2em;
    background-color: aliceblue;
}